body {
	background-color: #101010;
	color: white;
}

.title {
	color: black;
	font-size: 72px;
	text-align: center;
	-webkit-text-stroke-color: gold;
	-webkit-text-stroke-width: 1px;
}

.container {
	margin: auto;
	width: 85%;
}
